.card-inout-1{
    width: 100%;
    border-radius: 20px;
    background:  #FFF;
    display: block; 
    margin-top: 10px;
    height: 230px;
}

.card-inout-2{
    width: 100%;
    border-radius: 20px;
    background:  #FFF;
    display: block; 
    margin-top: 10px;
    height: 350px;
}
.contain-inout{
    margin-top: 10px; 
    
}

.patente{
    margin:10px;
}